.default-form-block {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.default-form-block-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.display-horizontal {
  display: flex;
  gap: var(--gap);
}

.display-horizontal div {
  flex-grow: 1;
}
