.form-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-block-entries {
}

.mantine-Accordion-label {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
