.app {
  height: 100dvh;
  width: 100dvw;
}

.app-header {
  display: flex;
  height: 4rem;
  line-height: 4rem;
  background-color: #242424;
  font-weight: bold;
  position: sticky;
  z-index: 1;
}

.app-content {
  display: flex;
  height: calc(100dvh - 4rem); /* 4rem is header height */
  width: 100%;
}

.app-header svg {
  height: 100%;
  margin: 0 1rem;
}
